.cart-container {
    min-height: 20px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #FF7F11
}

.img-item-cart {
    max-width: 80px;
    max-height: 80px;

}

.btn-agregar-cart{
    border: none;
    background-color: #FF7F11;
    border-radius: 5px;
    color: black;
    margin: 15px;
    margin-top: 30px;
}

.aviso-cart {
   text-align: center;
}

@media (max-width: 600px) {
    .btn-agregar-cart {
        font-size: 13px;
    }

    .aviso-cart {
        font-size: 20px;
    }
}