.text-card {
    height: 20px;
    width: 20px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #FF7F11;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
}