.container-item{
    /* padding-top: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.container-img {
    /* height: 500px;
    width: 400px; */
    /* display: flex;
    justify-content: center; */
    overflow: hidden;
    padding: 30px;
}


.container-info {
    /* height: 500px; */
    max-width: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.precio {
    font-family: cursive;
}



.descripcion {
    /* padding-top: 10px;
    padding-bottom: 20px; */
    text-align: justify;
}

.btn-item-detail {
    background-color: #FF7F11;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-item-detail:hover{
    background: #a7cb68
}